body {
  margin: 0 0;
  font-family: "Lucida Grande", Arial, Serif;
  color: #0099CC;
}

.flow {
    display: flex;
}

.flow .title {
  width: auto;
  border-bottom: solid;
}

.flow .stretch {
    flex: 1;
}

.title-heading {
  height: 2em;
  font-size: 48px;
  text-align: center;
  padding-top: 1em;
  background-color: #fedf83;
}

.home {
  font-size: 16px;
  font-weight: bold;
  padding: 8em 1em 0 1em;
  text-align: center;
  color: white;
}

.world {
  height: 400px;
  width: 600px;
  margin: 2em auto;
  background-image: url("./images/world3.jpg");
  background-size: 600px 400px;
  background-repeat: no-repeat;
}

button {
  display: inline-block;
  margin: 1em auto;
  height: 3em;
  width: 10em;
  background-color: #0099CC;
  font-weight: bold;
  color: white;
  font-size: 16px;
  padding: 0 0;
}

.hoverTable{
  width:90%;
  border-collapse:collapse;
  margin: 2em auto;
}
.hoverTable td, th{
  padding:7px; border:#4e95f4 1px solid;
  text-align: center;
}

.hoverTable th {
  font-size: 18px;
  border-bottom: double;
}
/* Define the default color for all the table rows */
.hoverTable tr{
  background: #b8d1f3;
}
/* Define the hover highlight color for the table row */
.hoverTable .table-data:hover {
  background-color: #ffff99;
}

.error {
  color: red;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  margin: 1em auto;
  padding: 2em;
}

.capital-details {
  font-size: 36px;
  text-align: center;
  margin: 1em auto;
}

.detailsTable {
  width:80%;
  border-style: none;
  text-align: center;
  margin: 1em auto;
}

.detailsTable td {
  border-style: none;
  padding: 0 20px;
  font-size: 20px;
}

.table-left {
  text-align: right;
}

.table-right {
  text-align: left;
}

.images {
  margin: auto auto;
}

.images div {
  margin: 1em auto;
  //display: inline-block;
}

img {
  margin: auto 2em;
  height: 100px;
  width: 150px;
}

.rotator-container {
  margin: 2em auto;
  text-align: center;
}

.rotator {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

/*-------- ANIMATIONS -------*/
.rotator.ng-show-remove.ng-show-remove-active,
.rotator.ng-show-add,
.rotator-container.ng-show-remove.ng-show-remove-active,
.rotator-container.ng-show-add {
  opacity: 0;
  transition: 0s all linear;
}

.rotator.ng-show-add.ng-show-add-active,
.rotator-container.ng-show-add.ng-show-add-active {

  transition: all 0.5s ease-in-out;
  transform: rotate(-360deg);
}

/* Countries Table page ---------------------- */
.page-countries.ng-leave {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
    -moz-animation:slideOutLeft 0.5s both ease-in;
    animation:slideOutLeft 0.5s both ease-in;
}

.page-countries.ng-enter {
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;
    //animation-delay: 1s;
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
  to    { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(100%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(100%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(100%); }
  to    { -webkit-transform: translateX(0); }
}

.page-capitals.ng-enter    {
    -webkit-animation:slideInUp 1s both ease-in;
  -moz-animation:slideInUp 1s both ease-in;
  animation:slideInUp 1s both ease-in;
}

/* slide in from the bottom */
@keyframes slideInUp {
  from  { transform:translateY(100%); }
  to    { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
  from  { -moz-transform:translateY(100%); }
  to    { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
  from  { -webkit-transform:translateY(100%); }
  to    { -webkit-transform: translateY(0); }
}

@media (max-width: 800px) {
  .title-heading {
    height: 1.5em;
    font-size: 32px;
  }
  .world {
    height: 300px;
    width: 500px;
    background-size: 500px 300px;
  }
  .home {
    padding-top: 5em;
  }
}

