<section class="flow stretch" ng-controller="CountriesCtrl">
  <div class="rotator-container"><img class="rotator" ng-show="showSpinner" alt="" src="./images/circular_arrows.png">
  </div>
  <table class="hoverTable" ng-show="dataReady">
    <tr>
      <th>Name</th>
      <th>Country Code</th>
      <th>Capital</th>
      <th>Area in km2</th>
      <th>Population</th>
      <th>Continent</th>
    </tr>
    <tr class="table-data" ng-repeat="country in results.geonames" ng-click="goDetail('/countries/' + country.countryCode + '/capital')">
      <td>{{ country.countryName }}</td>
      <td>{{ country.countryCode }}</td>
      <td>{{ country.capital }}</td>
      <td>{{ country.areaInSqKm | number }}</td>
      <td>{{ country.population | number }}</td>
      <td>{{ country.continent }}</td>
    </tr>
  </table>
</section>
<section class="flow stretch" ng-show="errPresent">
  <p class="error">{{ errorMsg }}</p>
</section>
<section class="flow stretch">
  <button ng-click="goHome('/')">Home
  </button>
</section>
