<section class="flow stretch" ng-controller="CountriesCtrl">
  <table class="hoverTable" ng-show="dataReady">
    <tr>
      <th>Name</th>
      <th>Country Code</th>
      <th>Capital</th>
      <th>Area in km2</th>
      <th>Population</th>
      <th>Continent</th>
    </tr>
    <tr class="table-data" ng-repeat="country in results.geonames" ng-click="go('/countries/' + country.countryCode + '/capital')">
      <td>{{ country.countryName }}</td>
      <td>{{ country.countryCode }}</td>
      <td>{{ country.capital }}</td>
      <td>{{ country.areaInSqKm | number }}</td>
      <td>{{ country.population | number }}</td>
      <td>{{ country.continent }}</td>
    </tr>
  </table>
</section>
<section class="flow stretch" ng-show="errPresent">
  <p class="error">{{ errorMsg }}</p>
</section>
<section class="flow stretch" ng-show="loading">
  <h1>Loading...</h1>
</section>
<section class="flow stretch">
  <button ng-click="go('/')">Home
  </button>
</section>
